<div class="container">
  <div class="jumbotron">

    <h2>ERP APP</h2>



<div ng-app="erpApp" ng-controller="BaseCtrl">


  <!--<h2>HELLO world</h2>-->

 <!--<ul>-->
   <!--<li ng-repeat="thing in things">-->
     <!--<span>{{thing.id}}</span>-->
     <!--<span>{{thing.text}}</span>-->
     <!--<span>{{thing.price}}</span>-->
   <!--</li>-->
 <!--</ul>-->
</div>

    <a href="/user/new" class="btn btn-log btn-success">Sing up!</a>
  </div>
</div>


