<div class="container">
  <div class="jumbotron">

    <h2>Welcome to this ERP APP</h2>



<div ng-app="erpApp" ng-controller="BaseCtrl">


  <!--<h2>HELLO world</h2>-->

 <!--<ul>-->
   <!--<li ng-repeat="thing in things">-->
     <!--<span>{{thing.id}}</span>-->
     <!--<span>{{thing.text}}</span>-->
     <!--<span>{{thing.price}}</span>-->
   <!--</li>-->
 <!--</ul>-->
</div>

    <% if (session.authenticated) { %>

    <% } %>

    <% if (!session.authenticated) { %>
    <p>Please sign in in order to proceed!</p>
    <% } %>

    <% if (session.authenticated && session.User.admin) { %>
    <p>Create a new User From here</p>
    <a href="/user/new" class="btn btn-log btn-success">Create User</a>

    <% } %>

  </div>
</div>





